/* only screen */
@media only screen {
/* */

/************* ============================= *************/
/************* ============================= *************/
/************* ============================= *************/
/*
 * Immediately modify the background by targeting selectors that only appear when chrome displays an image or an svg file
 *
 *
 *
 *
 */
/************* ============================= *************/
/************* ============================= *************/
/************* ============================= *************/

svg:root,
html > head:first-child + body[style='margin: 0px; background: #0e0e0e;'],
html > head:first-child + body[style='margin: 0px; background: #0e0e0e;'] *,
html > head:first-child + body[style='margin: 0px; background: #0e0e0e;'] *:before,
html > head:first-child + body[style='margin: 0px; background: #0e0e0e;'] *:after {
  box-sizing: border-box;
}

svg:root,
html > head:first-child + body[style='margin: 0px; background: #0e0e0e;'] {
  background-position: 0px 0px, 10px 10px !important;
  background-size: 20px 20px !important;
  background-color: white !important;
  background-image: linear-gradient(45deg, rgb(238, 238, 238) 25%, transparent 25%, transparent 75%, rgb(238, 238, 238) 75%, rgb(238, 238, 238) 100%),linear-gradient(45deg, rgb(238, 238, 238) 25%, transparent 25%, transparent 75%, rgb(238, 238, 238) 75%, rgb(238, 238, 238) 100%) !important;
}

html > head:first-child + body[style='margin: 0px; background: #0e0e0e;'] {
  padding:0;
  margin:0;
  font-size:24px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color:#fff;
}


/************* ============================= *************/
/************* ============================= *************/
/************* ============================= *************/
/************* ============================= *************/
/************* ============================= *************/


.mirage-online img {
  /* object-fit: contain; */
  /* width: 100%; */
  /* height: 100%; */
}


/************* ============================= *************/
/************* ============================= *************/
/************* ============================= *************/
/*
 *
 *
 *
 *
 *
 */
/************* ============================= *************/
/************* ============================= *************/
/************* ============================= *************/

.mirage-online #main-container {
  display: flex !important;
  width:100vw;
  height:100vh;
}

.mirage-online div#controls {
  display: flex;
  background:#fff;
  min-width:249px;
  width:249px;
  max-width:249px;
  height: 100vh;
  /* border-right:1px solid #dbe4ec; */
}



.mirage-online div#controls.hidden {

}

.mirage-online div#controls .collapse-controls {

  width:30px; height:30px;
  background:#000;
  position: absolute;
  bottom:0; right:0;
  cursor:pointer;

}

.mirage-online div#controls .collapse-controls:hover {

}

/* *** */
/* *** */
/* *** */

.mirage-online #canvas {
  display: flex;
    display: flex;
    align-items: center;
    justify-content: center;

  position:relative;
  overflow: hidden;
  width:100%;
  height: 100vh;

}

.mirage-online #canvas img,
.mirage-online #canvas svg {
  margin:auto;
  position: absolute;
}
.mirage-online #canvas svg {
  width: 300px;
  height:300px;
}

/************* ============================= *************/
/************* ============================= *************/
/************* ============================= *************/
/************* ============================= *************/
/************* ============================= *************/


.mirage-online ::selection {
  background:none;
}

.mirage-online input::selection {
  background:#9babbc;
}

.mirage-online {
  box-sizing: border-box;
}
.mirage-online *, .mirage-online *:before, .mirage-online *:after {
  box-sizing: border-box;
}

/* Hide scrollbars */
html.mirage-online ::-webkit-scrollbar { width:0px; height:0; background: transparent; }

.mirage-online body {

  padding:0;
  margin:0;

  font-size:24px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color:#fff;

  background-position: 0px 0px, 10px 10px !important;
  background-size: 20px 20px !important;
  background-color: white !important;
  background-image: linear-gradient(45deg, rgb(238, 238, 238) 25%, transparent 25%, transparent 75%, rgb(238, 238, 238) 75%, rgb(238, 238, 238) 100%),linear-gradient(45deg, rgb(238, 238, 238) 25%, transparent 25%, transparent 75%, rgb(238, 238, 238) 75%, rgb(238, 238, 238) 100%) !important;

}

.mirage-online body.dark {
  background-color: black !important;
  background-image: linear-gradient(45deg, rgb(17, 17, 17) 25%, transparent 25%, transparent 75%, rgb(17, 17, 17) 75%, rgb(17, 17, 17) 100%),linear-gradient(45deg, rgb(17, 17, 17) 25%, transparent 25%, transparent 75%, rgb(17, 17, 17) 75%, rgb(17, 17, 17) 100%) !important;
}

.mirage-online img {
  background: none !important;
}
.mirage-online img:hover, .mirage-online .res-media-dragging img {
  cursor:move;
  box-shadow: 0 0 0 4px rgb(47, 90, 245);
  border-radius:2px;
}


.mirage-online .controls-wrapper {
  display:flex;
  flex-wrap:wrap;
  width:100%;
  position: relative;
}
.mirage-online .controls-wrapper .container > div {
  cursor:default;
  background:rgba(119, 119, 119, .75);
  border-radius:3px;
  height:40px;
  line-height:40px;
  margin-left:6px; margin-bottom:10px;
  text-align: center;
  user-select:none;
}


/* */

/*************/
/*************/
/*************/

.mirage-online .controls-wrapper {
  display: block;
}
.mirage-online .section {
  border-top: 1px solid #e6edf4;
  padding:20px;
}
.mirage-online .section .section-title {
    font-family: 'Roboto Condensed';
    font-weight: 400;
    color: #7a8691;
    font-size:14px;
    text-transform: uppercase;
    margin-bottom:20px;
    cursor:default;
}

.header {
  font-family: Poppins;
  font-weight:700;
  color:#2d343a;
}

/*************/
/*************/
/*************/

.mirage-online .percentage {
  display:flex;
  align-items: center;
  overflow:hidden;
}
.mirage-online .percentage:hover {
  cursor:pointer;
}

.mirage-online .percentage .perc-control {
  width:40px;
  height:40px;
}

.mirage-online .percentage .percentage-number {
  font-size:16px;
  width:50px;
  min-width:50px;
  word-wrap: normal;
  overflow: hidden;
}
.mirage-online .percentage .percentage-number:after {
  content:"%";
  display: inline;
}

.mirage-online .percentage > div:hover {
  /*background:rgb(47, 90, 245);*/
  background:rgba(0,0,0,0.3);
}


/* */

.mirage-online .wrapper {
  display: flex;
  align-items: center;
  padding:0 5px;
}
.mirage-online .wrapper .sizer {
  display: flex;
  align-items: center;
  height:calc(100% - 10px);
  padding:0 6px;
  border-radius:2px;
  /*background:rgba(0,0,0,0.15);*/
  margin:0 2px;
  font-size:16px;
}
.mirage-online .wrapper .sizer.active {
  background:rgba(0,0,0,0.3);
}
.mirage-online .wrapper .sizer:first-child {
  margin-left:0;
}
.mirage-online .wrapper .sizer:last-child {
  margin-right:0;
}
.mirage-online .wrapper:hover .sizer {
  background: transparent;
}
.mirage-online .wrapper .sizer:hover {
  box-shadow: 0 0 0 1px rgb(22, 63, 210), inset 0 0 0 3px rgb(22, 63, 210);
}
.mirage-online .wrapper:hover .sizer.active {
  background: rgb(22, 63, 210);
}
.mirage-online .wrapper .sizer.active:hover {
  background: rgb(10, 46, 173);
  box-shadow: 0 0 0 1px rgb(10, 46, 173), inset 0 0 0 3px rgb(10, 46, 173);
  cursor:default;
}

/* */

.mirage-online .dims {
  /*padding:5px 10px;*/
  text-align:center;
  display: flex;
  align-items: center;
  padding: 0px 0 0px 4px;
  overflow: hidden;
}
.mirage-online .dims div {
  display: flex;
  align-items: center;
  height: 100%;

  border:0;
  background:transparent;
  color:#fff;
  text-align:center;
  font-size:22px;
  width:auto;
  border-radius:2px;
}
  .mirage-online .dims .input {
    padding:2px 6px 0 6px;
    height:calc(100% - 8px);
    min-width:50px;
    justify-content: center;
    line-height:30px;
  }
    .mirage-online .thousand .dims .input { min-width:65px; }
  .mirage-online .dims .input * {
    display: none;
  }
  .mirage-online .dims .width {
    margin-right:3px;
  }
  .mirage-online .dims .height {
    margin-left:3px;
  }
.mirage-online .dims:hover .input, .mirage-online .dims.focused .input {
  background:rgb(22, 63, 210);
}
.mirage-online div:hover > .input { cursor: pointer; }
.mirage-online div:hover > .input:focus { cursor: text; }

.mirage-online [contenteditable].input:focus {
  box-shadow: none;
  outline:0;
  background:rgba(0,0,0,0.3);
}


/* */

.mirage-online .dims .reset-to-natural {
  padding:0;
  display: flex;
  cursor:pointer;
  padding:0 8px 0 8px;
  background:rgb(47, 90, 245);
  border-radius:0;
}
.mirage-online .dims .reset-to-natural:hover {
  cursor:pointer;
}
.mirage-online .dims .reset-to-natural:not(.disabled):hover svg {
  animation:spin .2s linear 1 forwards;
}
@keyframes spin {
  0% { transform:rotate(0deg) scale(1.2,1.2); }
  100% { transform:rotate(360deg) scale(1.2,1.2); }
}

.mirage-online .dims .reset-to-natural:active {
  transform: scale(1,1);
}

.mirage-online .dims .reset-to-natural.disabled {
  opacity:.35;
  cursor:default;
  background:transparent;
}
.mirage-online .dims .reset-to-natural.disabled:hover {
  cursor:default;
  transform:scale(1,1);
}

.mirage-online .dims .reset-to-natural svg {
  width:16px;
  max-width: 16px;
  height:16px;
  max-height: 16px;
}





.mirage-online .text {
  font-size:16px;
  padding:0 6px;
}
.mirage-online .half-size {
  cursor:pointer;
}

.mirage-online .action:hover {
  cursor:pointer;
}

.mirage-online .background {
  width:40px;
  display: flex;
  align-items:center;
  justify-content: center;
  position: relative;
}
.mirage-online .background:hover {
  cursor: pointer;
}
.mirage-online .background:active {
  bottom:-2px;
}
.mirage-online .background:before {

  content:"";
  display:block;
  width:34px;
  height:34px;
  border-radius:2px;

  background-position: 0px 0px, 10px 10px !important;
  background-size: 20px 20px !important;
  background-color: black !important;
  background-image: linear-gradient(45deg, rgb(45, 45, 45) 25%, transparent 25%, transparent 75%, rgb(45, 45, 45) 75%, rgb(45, 45, 45) 100%),linear-gradient(45deg, rgb(45, 45, 45) 25%, transparent 25%, transparent 75%, rgb(45, 45, 45) 75%, rgb(45, 45, 45) 100%) !important;
}

.mirage-online .dark .background:before {
  background-color: white !important;
  background-image: linear-gradient(45deg, rgb(200, 200, 200) 25%, transparent 25%, transparent 75%, rgb(200, 200, 200) 75%, rgb(200, 200, 200) 100%),linear-gradient(45deg, rgb(200, 200, 200) 25%, transparent 25%, transparent 75%, rgb(200, 200, 200) 75%, rgb(200, 200, 200) 100%) !important;
}

/* end @media only screen */
} /* */
/* */



/************* ============================= *************/
/************* ============================= *************/
/************* ============================= *************/
/*
 *
 *
 *
 *
 *
 */
/************* ============================= *************/
/************* ============================= *************/
/************* ============================= *************/

/* only print */
@media only print {
/* */

  .mirage-online body { background:#fff !important; } /* overwrite default chrome background color that is inlined */
  .mirage-online #controls { display:none; } /* hide our controls when printing */

/* end @media only print */
} /* */
/* */
